html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    
}

html{
    background-image: url("images/background.jpg");
    background-repeat: round;
}

.outer-ll-cont{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.list-top-buckle{
    position: absolute;
    height: 14%;
    width: 36%;
    border: 10px solid #28282870;
    margin-top: -60px;
    border-radius: 25px 25px 55px 55px;
    background: #f1f1f1;
    max-width: 550px;
    max-height: 162px;
    box-shadow: inset 8px -19px 73px 52px #565656;
}

.ll-cont{
    height: inherit;
    width: inherit;
    background-color: #619a9d;
    display: flex;
    height: 75%;
    width: 50%;
    border: 6px solid #c919ab;
    border-radius: 5px;
    max-width: 750px;
    max-height: 915px;
}

div#laundry-list-list{
    height: 88%;
    width: 100%;
    margin-top: 15%;
    overflow-y: hidden;
}

div#laundry-list-list:hover{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

div#laundry-list-list::-webkit-scrollbar {
    width: 8px;
    border: 1px solid black;
    background: blue;
    border-radius: 5px;
}

div#laundry-list-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

div#laundry-list-list::-webkit-scrollbar-thumb {
    background: #555;
}

div#laundry-list-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}


.todo-list {
    width: 95%;
    height: 15%;
    border: 4px solid #9bdfa9;
    margin: 1%;
    /* overflow: scroll; */
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.list-container{
    height: 100%;
    width: 100%;
    max-width: 750px;
    max-height: 915px;
}

.edit-list{
    height: 80%;
    /* margin: 5px 15px 10px 10px; */
    width: 85%;
    background: inherit;
    opacity: 90%;
    border: 5px solid #007056;
    border-radius: 2px;
    font-size: large;
    font-family: system-ui;
    color: #ddffff;
}

div.buttons button{
    width: 25px;
    height: 25px;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 15%;
    /* margin-left: 26px; */
    align-items: center;
}

div.buttons button:hover {
    border: 3px solid #93af3f;
    border-radius: 10px;
    /* opacity: 60%; */
}